*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
*.apk
*.aab
*.ap_
*.dex
google-services.json
keystore.properties
*.jks
*.keystore
